/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2;
*/
*{
	font-family: 'Raleway', sans-serif;
}

body {
	background-image: url("../img/cropped-Lyft-Promo-Codes-car-1.jpg");
	background-size: 100%;
	margin: 0;
	background-attachment: fixed;
}

.barra-completa {
	width: 100%;
	position: fixed;
	z-index: 1000;
}

ul{
	background: #E54E79;
	width: 100%;
	height: 65px;
	display: inline-block;
	margin: 0;
}

img {
	position: relative; 
	margin: 0;
	left: 200px;
	top: 12px;
}

li {
	display: inline-block;
	position: relative;
	left: 920px;
}

a {
	text-decoration: none;
	color: #EDE9E2;
	padding: 10px;
}
header{
	position: absolute;
	background-color: #EDE9E2;
	top: 210px; 
	left: 864px;
	width: 30%;
	height: 370px;
	padding: 40px;
}

h1 {
	color: #00B2A9;
	margin: 0;
}

h3 {
	color: #75726C;
}

p {
	font-size: 13px;
	font-weight: 600;
}

.phone-number .datos {
	background: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #75726C;
	width: 90%;
	color: #75726C;
}


#insert {
	border-radius: 20px;
	background-color: #E56385;
	color: #EDE9E2;
	width: 200px;
	height: 50px;
}

.playwithlyft {
	background-color: #00B2A9; 
	position: relative;
	top: 900px;
	height: 700px;
}

#texto {
	background-color: #EDE9E2;
	position: relative;
	text-align: center;
	color: #75726C;
	height: 50px;
	top: 60px;
}

.cuadro, #nuevoC {
	background-color: #EDE9E2;
	position: relative;
	left: 127px;
	height: 400px;
	width: 1030px;
	margin: 30px;
	top: 80px;
}

.cuadro .inputs{
	background: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #75726C;
}

.fa-car, .inputs {
	position: relative;
	left: 160px;
	font-size: 30px;
	top: 100px;
	color: #75726C;
}

.comienzo {
	position: relative;
	background-color: #00B2A9;
	left: 200px;
	border-radius: 10px;
	width: 60%;
	height: 50px;
	top: 200px;
	color: #EDE9E2;
	font-weight: 700;
}

footer {
	background-color: #75726C;
	position: absolute;
	margin:0;
	top: 1700px;
	height: 50px;
	width: 100%;
}

#nuevoC {
	background-color: #75726C;
	border: 30px solid #EDE9E2;
}

